<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Solo mostrar WARN de Jetty -->
    <logger name="org.eclipse.jetty" level="WARN"/>

    <!-- Solo mostrar WARN de Hikari -->
    <logger name="com.zaxxer.hikari" level="WARN"/>

    <!-- Nivel general -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>